# Python Day 2 - Assignment   Batch 6

# Agenda 

Basic Python Syntax

Python Variables and Assignment Statement

Python Operators

# Basic python syntax

Back slash

Triple Quotes

String inside the quotes

Escape Sequence of String

Formatted Output

# Back slash

In [4]:
print("hello \
python")

hello python

# Triple Quotes

In [7]:
print("""(”)….(”)
( ‘ o ‘ )
(”)–(”)
(””’)-(””’)""")

(”)….(”)
( ‘ o ‘ )
(”)–(”)
(””’)-(””’)

# String inside the quotes

In [8]:
print("python world")

python world

In [11]:
print("python's world")

python's world

In [12]:
print('python\'s world')

python's world

# Escape sequence of string

In [13]:
print("hello\tpython")

hello	python

In [14]:
print("hello\npython")

hello
python

In [16]:
print("hello\apython")

hellopython

# Formatted output

In [18]:
name = "anvi"
marks = "90.867"
age = "21"
print("the name of a person is",name,"marks is",marks,"age is",age)

the name of a person is anvi marks is 90.867 age is 21

# Python variables and Assignment Statements

Variable means linking of a data to a name

According to the data type, the interpreter reserves the memory space.

Variable refers to  memory location that contains the data.

a = 10 b = 20

# Rules to define a variable

A keyword cannot be used as a variable."if","def",and "for" are the reserved keywords.They cannot be used as a variables.

A varaible contains letters(upper case or lower case),numbers and underscore.

Python is case sensitive,and hence,variables are also case case sensitive.

A Variable cannot start with a number.

A variable is assigned to data by using the assignment operator.

# Python Assignment Statement

In [24]:
x = y = 20
x

20

In [25]:
y

20

In [26]:
id(x)

140721687405552

In [27]:
id(y)

140721687405552

# Python Operators

# #Types of Operators

1. Arithmetic Operators

2. Comparison Operators

3. Assignment Operators

4. Bitwise Operators

5. Logical Operators

6. Membership Operators

7. Identity Operators

# Arithmetic operators

# **      Exponent performs-exponential(power) calculation on operators.

In [28]:
3**2

9

# *  Multiplication

In [29]:
45*5

225

# /    Division

In [31]:
525/5

105.0

# %   Modulus

In [32]:
35%3

2

# +   Addition

In [33]:
56+908

964

# - Subtraction

In [34]:
567-890

-323

# //  Floor Division

In [36]:
7//2

3

# Comparison Operators

# ==  
The operator returns true if the right-side operand and left-side operand are equal.

In [39]:
a = 20
c = 20
a == c

True

# < 
The "Less Than" operator returns True if the right-side operand is less than the left-side operand.

In [40]:
a = 25
b = 18
a < b

False

# >
The "Greater than" operator returns True if the right-side operand is Greater than the left-side operand.

In [42]:
a = 76
b = 34
a > b

True

# <=
The "Less than or equal to" operator returns True if the right-side operand is less than or equal to the left-side operand.

In [43]:
a = 20
b = 20
a <= b

True

# >=
The "Greater than or equal to" operator returns True if the right-side operand is Greater than or equal to the left-side operand.

In [44]:
a = 56
b = 56
a >= b

True

# !=
The "Not equal to" operator returns True if the right-side operand is not equal to the left-side operand.

In [45]:
a = 34
b = 87
a != b

True

# Assignment Operators

  =              a=b, b is assigned to a
 
 +=               a+=b is equal to a=a+b
 
 -=               a-=b is equal to a=a-b
 
 *=               a*=b is equal to a=a*b
 
 /=               a/=b is equal to a=a/b
 
 **=              a**=b is equal to a=a**b

# Bitwise Operators

# |
Bitwise OR operation

In [52]:
a = 1
b = 240
a | b

241

# & 
Bitwise And Operation

In [53]:
a & b

0

# ~ 
Binart One's Complement

# ^
Bitwise XOR Operation

# << 
Binary left shift Operator, the left-hand operand bit is shifted to the left by the number on the right.

# >>
Binary Right shift Operator, the right-hand operand bit is shifted to the right by the number on the right.

# Logical Operators

# AND     
If both the sides,right and left,are true,then the AND operator returns True.

In [54]:
a = 23
b = 56
c = 32
a<b & c<b

True

In [55]:
a>b & c<b

False

# OR
If any sides is true,then the OR operation returns True.

In [57]:
a = 5
b = 34
c = 15
a>b or b>c

True

# NOT
The "NOT" operator inverts the outcome of the condition.If the condition in the not operator returns true,Then the "NOT" operator makes it False,vice versa

In [61]:
not 10<9

True

In [62]:
not True

False

# Membership Operators

# In
If the Specified Operand is found in the sequence,then the "in" operator returns True,Otherwise,it returns False

In [63]:
Str1 = "Python Programming"
"a" in Str1

True

# NOT IN
If the Specified Operand is not found in the sequence,then the "not in" operator returns True,Otherwise,it returns False

In [64]:
Str1 = "Python Programming"
"x" not in Str1

True

# Identity Operators

# Is
If two variables refer to the same memory location,then the "is" operator returns True,otherwise, it returns False.

# IS NOT
If two variables refer to the same memory location,then the "is not" operator returns False,otherwise, it returns True.